*{
    margin: 0;
    padding: 0;

}

/* body{
    
    background-image: url('../images/illustration-4603960_1920.jpg');
    background-repeat: no-repeat;
    background-size:auto;
    
    
} */

header{
    display: flex;
    flex-wrap: wrap;
    border: 6px solid navy;
    align-items: center;
    height: 15vh;
    background-image: url('../images/giphy.gif');
    background-position:25%;
    background-repeat: no-repeat;
    
}

header h1{
    
    flex: 1 0 45%;
    margin-left: 3%;
    
    

    
}

header nav{
    flex: 1 0 45%;
    
}

header ul{
    
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    
}

figure{
    /* display:flex;
    flex-wrap: wrap; */
    background-image: url('../images/programmer-1653351_640.png');
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    /* background-position: right; */
    background-size:cover;
    /* margin-right: 5%; */
    
    
    
    

}

.row{
    display: flex;
}

.column-left{
    flex: 1 0 20%;
    border: 3px solid navy;
    
}

.column-right{
flex: 1 0 70%;
border: 3px solid navy;
}

a{
    color: black;
}

a:hover{
    color:red;
}

